/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
	margin-bottom: -25px;
}

article#hotel .owl-theme .owl-controls{
	margin-bottom: -40px;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
	display: inline-block;
	margin: 5px;
	text-decoration: none;
	color: #FF6C00;
}

.owl-theme .owl-controls .owl-buttons .owl-prev.disabled, .owl-theme .owl-controls .owl-buttons .owl-next.disabled {
	color: #999;
	cursor: default;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-buttons .owl-prev, .owl-theme .owl-controls .owl-buttons .owl-next {
	position: relative;
	bottom: 27px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
	margin-right: 115px;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	color: #FF6C00;
	font-size: 16px;
	line-height: 25px;
	display: block;
	height: 25px;
	width: 25px;
	text-indent: 0;
	text-decoration: none;
	border-radius: 0;
	margin: 0 5px;
	outline: 0;
	border: 1px solid #FFF;
	background: none;
	opacity: 1;
}

.owl-theme .owl-controls .owl-page.active span.owl-numbers, .owl-theme .owl-controls .owl-page span.owl-numbers:hover {
	border: 1px solid #FF6C00;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}