li#toplevel_page_edit-post_type-acf {
	/*display: none;*/
}

/* a {
	font-family: 'PT Sans', sans-serif;
	color: inherit;
	outline: none;
}

a:link, a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #7F7F7F;
	text-decoration: inherit;
} */



.quests_schedule {
	position: relative;
	margin-right: 20px;
}

.quests_schedule.in_process::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(153, 166, 74, 0.4);
	background-image: url(../img/preloader.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.one_quest {
	background-color: #3B3B3B;
	margin-bottom: 20px;
}

.one_quest > div {
	height: 100%;
}

.left_info {
	float: left;
	width: 200px;
	margin-right: 20px;
	background-color: #525252;
	height: 100%;
	display: table;
}

.left_info > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.left_info span, .left_info a {
	font-size: 17px;
	color: #fff;
}

.left_info a.quest_name {
	font-size: 23px;
	margin-bottom: 15px;
	display: inline-block;
}

.left_info a.quest_name:hover {
	text-decoration: underline;
}

.quest_schedule {
	text-align: center;
}

.one_price_block {
	display: inline-block;
	margin-top: 20px;
	margin-right: 15px;
}

.one_price_block:first-child {
	margin-left: 5px;
}

a.one_quest_time, span.one_quest_time {
	background-color: #B0CD3F;
	padding: 5px;
	border-radius: 5px;
	font-size: 18px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	outline: none;
}

a.one_quest_time:not(:first-child), span.one_quest_time:not(:first-child) {
	margin-left: 10px;
}

a.one_quest_time:hover {
	background-color: #697F13;
	color: #fff;
}

a.one_quest_time.a_disabled, span.one_quest_time.a_disabled {
	cursor: default;
	background-color: gray;
	color: #000;
}

.tech_block {
	height: 15px;
	margin: 7px 0 10px;
	border: 1px solid #fff;
	border-top: 0;
	border-radius: 0 0 5px 5px;
}

.time_price {
	text-align: center;
	color: #fff;
	font-size: 20px;
}

table.one_quest {
	width: 100%;
}

table.one_quest, table.one_quest tr, table.one_quest th, table.one_quest td {
	background: none;
	border: 1px solid;
	border-collapse: collapse;
}

table.one_quest th, table.one_quest td {
	padding: 10px;
	font-size: 16px;
}

#parent_popup /* стиль затемнения */
 {
  background: #000;
  height: 100%;
  opacity: 0.3; /* прозрачность */
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

.popup--centered_overlay
 {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 200;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.1);
 }

.popup--centered_overlay::before
 {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
 }

.popup--centered
 {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #FFFFFF;
  width: 400px;
 }