/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/*----- Fonts -----*/

@font-face {
	font-family: 'Arial';
	src:url('fonts/pt-sans.eot?') format('eot'), 
		url('fonts/pt-sans.woff') format('woff'), 
		url('fonts/pt-sans.ttf')  format('truetype'),
		url('fonts/pt-sans.svg#svgptsans') format('svg');
}

	.unset
		{
			
		width: 400px;
		margin: 20px;
		padding: 20px;
		background: #FFFFFF;
		border-radius: 5px; 
	}

.header_line {
    height: 56px;
    background: rgba(255,255,255,0.1);
    padding: 5px 10px;
    margin-bottom: 2px;
}


/*
font-family: 'Arial', sans-serif;
*/

body {
	font-family: 'Arial', sans-serif;
	font-size: 18px;

}

a {	color: inherit; }
i, em {	font-style: italic; }
strong { font-weight: bold; }
input[hidden="hidden"] {
	display: none !important;
}

a:link, a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #7F7F7F;
	text-decoration: inherit;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

div.clear {
	display: block !important;
	clear: both !important;
}

/*----- All pages -----*/

html, body {
	height: 100%;
	min-width: 1000px;
}

div#container {
	min-height: 100%;
}

div#container {
	background-color: #FFFFFF; 
	background-image: url("../img/back.jpg");
	background-repeat: repeat;
	background-position: left top;
	background-attachment: scroll;

}

div.centered {
	width: 1000px;
	margin: 0 auto;
}

/*----- Header styles -----*/

header div.centered {
	text-align: center;
	padding-top: 70px;
	position: relative;
}

div.header_buttons {
	position: absolute;
}

div.header_buttons a {
	position: relative;
	display: inline-block;
	padding-top: 35px;
}

a.log_in {
	margin-left: 30px;
}

div.header_buttons a::before {
	content: "";
	height: 30px;
	width: 100%;
	position: absolute;
	top: 0;
	background-position: center 0;
	background-repeat: no-repeat;
}

a.select_city::before {
	background-image: url(../img/city.png);
}

a.log_in::before {
	background-image: url(../img/login.png);
}

a.select_city:hover::before, a.log_in:hover::before {
	background-position: center -30px;
}

/* a.select_city::before {
	content: "";
	position: absolute;
	height: 30px;
	width: 30px;
	bottom: 30px;
	left: 10px;
	background-image: url(../img/city.png);
}

a.log_in::before {
	content: "";
	position: absolute;
	height: 30px;
	width: 30px;
	bottom: 30px;
	left: 10px;
	background-image: url(../img/login.png);
} */

.header_home_link img {
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.header_home_link:hover img {
	-webkit-transform: scale(1.08);
	-ms-transform: scale(1.08);
	-o-transform: scale(1.08);
	transform: scale(1.08);
}

nav.menu-top_menu-container {
	margin: 40px 0 20px;
}

span.header_phone {
	position: absolute;
	top: 77px;
	right: 0;
	color: #3C3C3C;
	font-size: 27px;
	line-height: 32px;
	font-weight: 700;
}

span.header_phone span {
	color: #82A900;
	font-size: 23px;
	line-height: 32px;
	font-weight: 700;
	position: relative;
	bottom: 2px;
}

ul#menu-top_menu {
	text-align: center;
	width: 100%;
}

ul#menu-top_menu > li {
	display: inline;
	margin-left: 27px;
	font-size: 18px;
	line-height: 22px;
	font-family: 'Arial', sans-serif;
	font-weight: 400;
}

ul#menu-top_menu li.current-menu-item {
	text-decoration: underline;
}

.header_border_bottom {
	height: 14px;
	width: 100%;
	margin: 20px 0 20px;
	background-image: url(../img/hbb.png);
	background-repeat: repeat;
}

/*----- Content styles -----*/

/*----- Main page -----*/

div.location_description {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 10px;
}

div.location_description span.location_name {
	color: #82A900;
	font-weight: bold;
}

span.schedule_title {
	font-size: 25px;
	margin: 20px 0 20px;
	display: inline-block;
}

span.date_today {
	padding: 10px 20px;
	display: inline-block;
	background-color: #B0CD3F;
	border-radius: 6px;
	color: #fff;
	font-size: 18px;
}

span.date_today_title {
	display: inline-block;
	width: 130px;
	text-align: center;
	margin: 10px 0 10px;
}

img.calendar_image {
	position: relative;
	top: 3px;
	margin: 0 20px 0 20px;
}

p.dates {
	display: inline-block;
	cursor: default;
}

p.dates a {
	position: relative;
	z-index: 2;
	font-weight: bold;
	outline: none;
}

p.dates a:hover, p.dates a.date_weekend:hover {
	color: #fff;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

p.dates a::before {
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	height: 30px;
	width: 30px;
	border-radius: 5px;
	-webkit-transform: scale(0.75);
	-ms-transform: scale(0.75);
	-o-transform: scale(0.75);
	transform: scale(0.75);
	z-index: -1;
}

p.dates a:hover::before, p.dates a.date_selected:hover::before {
	background-color: rgba(176, 205, 63, 0.5);
	-webkit-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
	transform: scale(1.25);
}

p.dates a.date_weekend.date_selected, p.dates a.date_selected, p.dates a:active {
	color: #fff;
}

p.dates a.date_weekend.date_selected::before, p.dates a.date_selected::before {
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	height: 30px;
	width: 30px;
	border-radius: 5px;
	background-color: #B0CD3F;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

span.next_dates {
	position: relative;
	z-index: 2;
	opacity: 0.5;
	font-weight: bold;
}

/* span.next_dates::before {
	content: "";
	position: absolute;
	top: -1px;
	left: -2px;
	height: 22px;
	width: 22px;
	border-radius: 5px;
	background-color: rgba(181, 181, 181, 0.7);
	z-index: -1;
} */

p.dates a.next_dates, p.dates span.next_dates {
	margin-left: 10px;
}

p.dates a.date_weekend {
	color: rgb(220, 0, 0);
}

/* p.dates a.next_month {
	opacity: 0.5;
} */

p.dates a.next_month:hover, p.dates a.next_month.date_selected {
	opacity: 1;
}

span.selected_date {
	margin: 30px 0 20px;
	display: inline-block;
}

span.selected_date > span {
	color: #95A900;
}




.quests_schedule {
	position: relative;
}

.quests_schedule.in_process::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(153, 166, 74, 0.4);
	background-image: url(../img/preloader.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	z-index: 9;
}

.one_quest {
	background-color: #3B3B3B;
	min-height: 120px;
	margin-bottom: 20px;
}

.one_quest > div {
	height: 100%;
}

.left_info {
	float: left;
	width: 200px;
	height: 120px;
	min-height: 120px;
	margin-right: 20px;
	background-color: #525252;
	display: table;
	position: relative;
	z-index: 3;
}

.left_info > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.left_info span, .left_info a {
	font-size: 17px;
	color: #fff;
}

.left_info a.quest_name {
	font-size: 23px;
	margin-bottom: 15px;
	display: inline-block;
}

.left_info a.quest_name:hover {
	text-decoration: underline;
}

.quest_schedule {
	text-align: center;
	min-height: 120px;
	position: relative;
}

.quest_schedule span.future_start {
	line-height: 40px;
	color: #fff;
	font-size: 24px;
	display: block;
	padding-top: 20px;
}

.one_price_block {
	display: inline-block;
	margin-top: 30px;
	margin-right: 15px;
}

.one_price_block:first-child {
	margin-left: 5px;
}

a.one_quest_time, span.one_quest_time {
	    /* background-color: #B0CD3F; */
    padding: 2px;
    border-radius: 2px;
    font-size: 12.5px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    outline: none;
    border: 1px solid #B0CD3F;
	color: #fff;
}

a.one_quest_time:not(:first-child), span.one_quest_time:not(:first-child) {
	margin-left: 4px;
}

a.one_quest_time:hover {
	background-color: #697F13;
	color: #fff;
}

a.one_quest_time.a_disabled, span.one_quest_time.a_disabled {
	cursor: default;
	background-color: gray;
	color: #000;
}

.tech_block {
	height: 10px;
	margin: 7px 0 10px;
	border: 1px solid #fff;
	border-top: 0;
	border-radius: 0 0 5px 5px;
}

.time_price {
	text-align: center;
	color: #fff;
	font-size: 17px;
}



div.quests_previews {
	background-color: #80963A;
	padding: 40px 0;
}

ul.quests_list {
	font-size: 0;
	text-align: center;
}

ul.quests_list > li {
	display: inline-block;
	font-size: 18px;
	text-align: left;
	/* float: left; */
}
ul.quests_list2 {
	font-size: 0;
	text-align: center;
}

ul.quests_list2 > li {
	display: inline-block;
	font-size: 18px;
	text-align: left;
	/* float: left; */
}

ul.quests_list a.single_quest {
	display: block;
	height: 280px;
	width: 333px;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-size: 120%;
	position: relative;
	padding: 15px;
	color: #fff;
	
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

ul.quests_list2 a.single_quest2 {
	display: block;
	height: 280px;
	width: 333px;
	
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-size: 120%;
	position: relative;
	padding: 15px;
	color: #fff;
	
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

ul.quests_list a.single_quest:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}

figure.quest_logo {
	height: 60px;
	width: 60px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	margin-right: 15px;
}

.logo_players span {
	display: block;
}

.logo_players span.players_text {
	padding: 7px 0 0;
	font-size: 14px;
	font-weight: bold;
}

span.players_icons > img:not(:first-child) {
	margin-left: 10px;
}

span.players_icons > img.empty_man {
	opacity: 0.5;
}

span.raiting, span.quest_title {
	display: block;
	margin: 5px 0 0;
	float: left;
	width: 100%;
}

span.raiting > img:not(:first-child) {
	margin-left: 5px;
}

span.quest_title {
	font-size: 20px;
	font-weight: bold;
}
span.quest_title2 {
	font-size: 25px;
	font-weight: bold;
	color: #3B3B3B;
	bottom: +310px;
		position: absolute;
		padding-left: 35%;
}
span.questtitle {
	font-size: 20px;
	font-weight: bold;
}

.quest_bottom_info {
	position: absolute;
	bottom: 15px;
}

.quest_bottom_info span, .sqi_right span, .sqi_right a {
	display: block;
	color: #fff;
	font-size: 12.5px;
	line-height: 21px;
	font-weight: bold;
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: 0 -2px;
}

 .sqi_right a:hover {
 	text-decoration: underline;
 }

.quest_bottom_info span:nth-child(1), .sqi_right span:nth-child(1) {background-image: url(../img/small_phone.png);}
.quest_bottom_info span:nth-child(2), .sqi_right a:nth-child(2) {background-image: url(../img/small_email.png);}
.quest_bottom_info span:nth-child(3), .sqi_right span:nth-child(3) {background-image: url(../img/small_posit.png);}

.quest_bottom_info2 {
	position: absolute;
	bottom: +285px;
}


.quest_bottom_info2 span, .sqi_right2 span, .sqi_right2 a {
	display: block;
	color: #3B3B3B;
	font-size: 17.5px;
	line-height: 21px;
	font-weight: bold;
	padding-left: 69px;
	background-repeat: no-repeat;
	background-position: 44px -2px;
}



.quest_bottom_info2 span:nth-child(1), .sqi_right2 span:nth-child(1) {background-image: url(../img/star_empty.png);}
.quest_bottom_info2 span:nth-child(2), .sqi_right2 a:nth-child(2) {background-image: url(../img/man1.png);}



h2.last_text_title {
	font-size: 23px;
	line-height: 28px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 40px 0 20px;
}

.main_bottom_text p {
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 15px;
	text-align: justify;
}
span.sq33{
font-size: 23px;
}
span.sq3{
font-size: 18px;
}
/*----- Single quest page -----*/

.quest_details {
	background-color: rgba(59, 59, 59, 0.5);
	min-height: 450px;
	color: #fff;
}

figure.quest_photo {
	height: 450px;
	width: 50%;
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center;
	float: left;
}

div.single_quest_info {
	float: left;
	width: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 30px 0 0 30px;
}

div.single_quest_info > div:not(:nth-child(n+3)) {
	float: left;
	width: 50%;
}

div.single_quest_info > div.sqi_right {
	margin: 5px 0 0;
}

h1.single_quest_title {
	text-align: center;
	font-size: 23px;
	font-weight: bold;
	color: #000;
	margin: 20px 0 10px;
}

.single_quest_description {
	text-align: justify;
	text-indent: 15px;
	color: #000;
	line-height: 1.25;
}

.come_with_friends {
	text-align: center;
	margin: 30px 0 10px;
	font-weight: bold;
	line-height: 25px;
	font-size: 18px;
}

.come_with_friends > span:nth-child(1) {font-size: 21px;}


/*----- Certificate page -----*/

div.certificate_page {
	margin-top: 30px;
}

.certificate_left_info {
	width: 50%;
	float: left;
}

.certificate_left_info p {
	text-indent: 15px;
	margin-bottom: 15px;
	line-height: 1.25;
	text-align: justify;
}

.certificate_form_wrapper {
	width: 40%;
	margin-left: 10%;
	float: left;
}

input.input, textarea.textarea {
	width: 80%;
	display: block;
	margin: 0 auto 15px;
	outline: none;
	padding: 8px;
	text-indent: 10px;
	border: 1px solid #B0CD3F;
	border-radius: 5px;
	background-color: rgba(176, 205, 63, 0.5);
	font-size: 15px;
	font-family: "Arial", sans-serif;
	font-style: italic;
}

input.input::-webkit-input-placeholder, textarea.textarea::-webkit-input-placeholder {
   color: #555;
}

input.input:-moz-placeholder, textarea.textarea:-moz-placeholder { /* Firefox 18- */
   color: #555;
}

input.input::-moz-placeholder, textarea.textarea::-moz-placeholder {  /* Firefox 19+ */
   color: #555;
}

input.input:-ms-input-placeholder, textarea.textarea:-ms-input-placeholder {  
   color: #555;
}

input.input:focus::-webkit-input-placeholder, textarea.textarea:focus::-webkit-input-placeholder {
   color: #4F4F4F;
}

input.input:focus:-moz-placeholder, textarea.textarea:focus:-moz-placeholder { /* Firefox 18- */
   color: #4F4F4F;
}

input.input:focus::-moz-placeholder, textarea.textarea:focus::-moz-placeholder {  /* Firefox 19+ */
   color: #4F4F4F;
}

input.input:focus:-ms-input-placeholder, textarea.textarea:focus:-ms-input-placeholder {  
   color: #4F4F4F;
}

input.input:focus, textarea.textarea:focus {
	font-style: normal;
	color: #000;
	border-color: #6B6B6B;
	background-color: rgba(255, 255, 255, 0.5);
}

textarea.textarea {
	resize: none;
}

.button {
	padding: 10px 30px;
	text-align: center;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	border: 1px solid #323232;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 auto;
	display: block;
	width: 50%;
	background-color: #B0CD3F;
	color: #fff;
	outline: none;
	margin-bottom: 15px;
}

.button:hover, .button:focus {
	background-color: #F2F2F2;
	color: #000;
}

.button:active {
	position: relative;
	top: 2px;
}


/*----- Default template -----*/

h1.page_title {
	text-align: center;
	margin: 30px 0 20px;
	font-size: 25px;
	font-weight: bold;
}

div.page_content {
	line-height: 1.25;
}

div.page_content p {
	text-align: justify;
	text-indent: 15px;
	margin-bottom: 15px;
}

/*----- Footer styles -----*/

footer {
	margin: 40px 0 0;
	padding-bottom: 30px;
}

footer div.centered {
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
}

/*----- Overlay styles -----*/

/*----- 404 page styles -----*/

/*----- Rules page -----*/

div.rules_page {
	margin-top: 40px;
	margin-bottom: 40px;
}

div.rules_page p {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 15px;
}

/*----- Cabinet page -----*/

p.cab_info {
	margin: 10px 0 20px;
	text-align: center;
	font-size: 20px;
	color: #A2B21B;
	font-weight: bold;
}

.user_info {
	display: table;
	width: 100%;
}

.user_info > div {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	width: 100%;
	line-height: 1.5;
	color: #3b3b3b;
}

.user_info > div a {
	color: #3b3b3b;
}

.user_info > div a:hover {
	color: #000;
}

figure.user_image {
	min-height: 170px;
	width: 170px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 3px 3px 5px 0 #aaa;
	margin: 0 20px 20px 0;
	float: left;
}

span.user_name {
	color: #9d989c;
	font-size: 20px;
	text-transform: uppercase;
}

div.no_games p {
	font-size: 22px;
	color: #3b3b3b;
	margin: 0 0 10px;
}

div.no_games a {
	text-decoration: underline;
}

h1.last_games, h1.booked {
	font-size: 25px;
	color: #3b3b3b;
	margin: 30px 0 30px;
}

ul.games > li {
	width: 30%;
	float: left;
}

ul.games.last_games > li {
	padding-bottom: 35px;
	background-color: #bbb;
}

ul.games > li {
	width: 32%;
	padding: 12px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
	background-color: #B0CD3F;
	border-radius: 7.5px/25px;
	margin: 0px 0 15px 1.3%;
	-webkit-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

ul.games > li.removed {
	background-color: rgb(229, 70, 70);
}

.game_info {
	min-height: 250px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	color: #fff;
	border: 3px solid #fff;
}

.game_info figure.quest_logo {
	height: 50px;
	width: 50px;
}

.game_info .logo_players {
	padding: 10px 10px 5px;
}

.game_info .logo_players span {
	margin-top: -2px;
}

.game_info .quest_bottom_info {
	bottom: 10px;
	left: 10px;
}

.game_info .quest_bottom_info > span {
	line-height: 1.35;
}

a.quest_link {
	color: #fff;
	font-size: 20px;
	margin: 10px;
}

a.quest_link:hover {
	color: #aaa;
}

.user_game_info {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 70px;
}

.user_game_info > span {
	display: block;
	color: #3b3b3b;
	font-size: 22px;

}

.user_game_info > span.user_game_date {

}

.user_game_info > span.user_game_time {
	font-size: 25px;
	color: #728B23;
	font-weight: bold;
	padding: 5px 0 0;
}

.user_game_info > span.user_game_price {
	font-size: 18px;
}


a.cancel_game {
	text-align: center;
	text-transform: uppercase;
	-webkit-transform: scaleX(0.75);
	-ms-transform: scaleX(0.75);
	-o-transform: scaleX(0.75);
	transform: scaleX(0.75);
	display: block;
	font-size: 20px;
	margin: 10px auto 0px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	width: 125px;
}

/*----- Forms -----*/

/* Login & register */

.login_register {
	width: 400px;
	background: #ddd;
	border: 1px solid #aaa;
	border-radius: 10px;
	display: none;
	padding-bottom: 10px;
}

.register_div {
	display: none;
}

span.toogler {
	display: block;
	width: 100%;
	line-height: 40px;
	margin: 0 0 20px;
}

span.toogler a {
	display: block;
	width: 50%;
	float: left;
	text-align: center;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a.a_toogle:not(.active) {
	border-style: solid;
	border-color: #aaa;
	background-color: #aaa;
}

span.toogler a.a_toogle:not(.active):nth-child(1) {
	border-width: 0 1px 1px 0;
	border-radius: 7.5px 0 0 0;
}

span.toogler a.a_toogle:not(.active):nth-child(2) {
	border-width: 0 0 1px 1px;
	border-radius: 0 7.5px 0 0;
}

.login_register .submit {
	width: 70%;
}

.registration_success {
	text-align: center;
	padding: 10px;
	font-size: 20px;
	background: rgba(176, 205, 63, 1);
	color: #000;
}

/*----- Booking confirmation window -----*/

.confirm_booking {
	width: 390px;
	background: #ddd;
	border: 1px solid #aaa;
	border-radius: 10px;
	font-size: 20px;
	padding-bottom: 10px;
	display: none;
}


.delete_booking {
	width: 390px;
	background: #ddd;
	border: 1px solid #aaa;
	border-radius: 10px;
	font-size: 20px;
	padding-bottom: 10px;
	display: none;
}


th.confirm_text {
	border-color: #aaa;
	background-color: #aaa;
	border-radius: 7.5px 7.5px 0 0;
	color: #fff;
	padding: 5px;
}

tr.info_span > td.info_span_title {
	width: 40%;
	padding: 5px 0 5px 10%;
}

tr.td_confirm {
	text-align: center;
}

tr.td_confirm > td {
	padding: 10px;
}

label[for="check_cert"] {
	font-size: 16px;
	cursor: pointer;
}

tr.confirm_choose td {
	text-align: center;
	padding: 10px 0;
}

tr.confirm_choose td a {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
}

tr.confirm_choose td a.a_reject {
	background-color: #aaa;
	color: grey;
}

tr.confirm_choose td a.a_confirm {
	background-color: #B0CD3F;
	color: #000;
	margin-left: 50px;
}

tr.confirm_choose td a:hover {
	color: #fff;
}

tr.confirm_choose td a:active {
	position: relative;
	top: 2px;
}

.cert_success {
	display: none;
	background: #B0CD3F;
	border-radius: 10px;
	padding: 15px;
	line-height: 1.25;
	margin-bottom: 20px;
}

.cert_error {
	display: none;
	background: #CF4343;
	border-radius: 10px;
	padding: 15px;
	line-height: 1.25;
	margin-bottom: 20px;
}

span#login-error {
	background-color: #FFEBE8;
	border: 1px solid #C00;
	padding: 8px;
	width: 80%;
	display: block;
	margin: 0 auto 15px;
	border-radius: 5px;
	color: #a00;
}
.r {
	border: 3px solid #fff;
	background-color: #B0CD3F;

}

.home #container {

	background: #000 url("../img/splash.png") no-repeat center center fixed;
	background-size: cover;
	color: #fff;

}

.home .page_title {
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
}

.home {
	min-width: 300px;
}